/* css for REWD Landing page */


.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right;
}

body {
	background: url('../images/linedpaper.png');
}

.center-align {
	text-align: center;
}

.center-focus {
	text-align: left;
	margin-left: 20%;
	width: 60%;
}

.container {
	width: 80%;
}

i {
	margin: 15px;
}

.padding {
	padding: 10px;
}

.padding-top {
	padding-top: 20px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.title {
	font-family: 'Fjalla One', sans-serif;
	font-size: 45px;
}

