<!DOCTYPE html>
<html>
<head>
    <html lang="en">

<!-- written by Alison Ostendorf
    Project: Landing Page for Real Estate Wholesaler Database
    to be posted at rewholesalerdatabase.com before app is finished
    contact: aostendorf@gmail.com -->


  	<title>Real Estate Wholesaler Database Landing Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="A national database of real estate investment wholesalers, free to view." content="Real Estate Wholesaler Databse">
  	<link rel="stylesheet" href="css/bootstrap.css">
  	<link rel="stylesheet" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

    <!-- below is for modals -->
    <script type="text/javascript"> $(function ()
        { $("#myModal").modal({show:false }); </script>
        
   

</head>
<body class="<%= controller_name %><%= action_name%>">
  <!-- include all body copy here -->
  <div class="container center-align">
    
      <br><br>
    	<h1 class="title"><strong>Real Estate Wholesaler Database</strong></h1>
      <h5>~ Currently in development. Expected release date: January/February 2016 ~</h5>
      <h3>Exposing real estate wholesalers to cash buyers in their market, without acting shady.</h3>
        <h4>Find wholesalers by simply viewing our lists instead of finding wholesalers by 
        
          <div class="center-focus">
            <ul>
              <li>searching through Craigslist ads</li>
              <li>calling bandit signs</li> 
              <li>attending local REIAs/networking events</li>
              <li>asking around</li>
              <li>paying a guru for some expensive system</li>
              <li>any of several other shady tactics</li>
            </ul>
          </div>
        
        
        <br> Finally, the industry can start being up front about wholesaling real property.</h4>

    	<h3>Sign up for early bird discounts and news relating to <i>Real Estate Wholesaler Database</i>, and other similar products.</h3><br>
      
     <section id="newsletter-sign-up-box">
      <!-- begin agile crm rewd mailing list sign up here -->
        <form class="form-view agile-form-transparent" id="agile-form" action="https://rewholesalerdatabase.agilecrm.com/formsubmit" method="GET">
          <fieldset>

          <!-- Form Name -->
          <div style="display: none; height: 0px; width: 0px;">
          <input type="hidden" id="_agile_form_name" name="_agile_form_name" value="REWD Mailing List">
          <input type="hidden" id="_agile_domain" name="_agile_domain" value="rewholesalerdatabase">
          <input type="hidden" id="_agile_api" name="_agile_api" value="aihste865k0a5jtfmdvf7d05v7">
          <input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="#">
          <input type="hidden" id="_agile_form_id_tags" name="tags" value="REWDlist">

               <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5678205671309312">
          </div>
            <!-- <p class="blue text-center">Sign up for our mailing list to receive updates when new wholesalers and new site features are added.</p> -->
          <!-- Text input for Full Name (registers as First Name in Agile) -->

            <div class="form-group">
              <label for="">Your Full Name</label>
              <div>
              <input id="" name="first_name" type="text" placeholder="My Full Name" required="" class="form-control">
              </div>
            </div>
            <!-- Text input for email address-->
            <div class="form-group">
              <label for="agilefield-1">Your Email Address</label>
              <div>
              <input id="agilefield-1" name="email" type="email" placeholder="Me@MyCompany.com" class="form-control" required="">
              </div>
            </div>
            <br>
            <!-- Subscribe Button -->
            <div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-md text-center">Sign Up</button>
                <span id="agile-error-msg"></span>
              </div>
            </div>

          </fieldset>
        </form>

        <script type="text/javascript">
        (function(a){var b=a.onload,p=false;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};a.document.forms["agile-form"].onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v4()}catch(b){this.submit()}}})(window);
        </script>
      <!-- end agile crm here -->
    </section><!-- end #newsletter-sign-up-box -->


  </div><!-- end main-container here -->
	<!-- main body copy stops here -->
    <br><br><br><br><br><br><br><br><br><br>
     <footer>
      <div class="container align-right">
        <h6></h6>
      </div><!-- end footer content container -->
    </footer>


<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>

</body>
</html>